@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#wrapper {
	width: auto;
}
#header {
	border-bottom: 1px solid #a8a9ac;
}
#header {
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.wr-content {
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.wr-content {
    min-height: calc(100vh - 88px);

}
#logo,
.sidebar {
	width: 200px;
	margin: 5px;
}

#logo {
    margin: auto;
    padding-left: 36px;
    
}
.logout,.delete-cart{
    text-decoration: none;
	text-transform: uppercase;
    background-color: #ff623d;
    margin: auto;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.logout:hover,.delete-cart:hover{
    opacity: 0.7;
}

/* opacity layout */
.opacity{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.menu {
	display: flex;
	list-style: none;
}
.menu > li > a{
	display: block;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 5px;
	color: #a8a9ac;

	font-weight: 600;
}
.menu > li:hover {
	border-bottom: 3px solid #333;
}
#header .container {
	display: flex;
	justify-content: space-between;
}
#cart {
	padding: 10px;
	cursor: pointer;
}
#cart:hover {
	border-bottom: 3px solid #333;
}
.wr-content {
	margin-top: 16px;
}
.sidebar {
	padding: 0px 12px 0px 12px;
}
.sb-menu {
	list-style: none;
}
.sidebar .sb-menu li {
	padding: 12px 12px;
	margin-bottom: 5px;
}
.sidebar .sb-menu li:hover {
	font-weight: bold;
	border-radius: 10px;
	background: #333;
	color: white;
	cursor: pointer;
}
.sidebar input {
	display: inline-block;
	margin-right: 50px;
}
.wr-content > .container {
	margin: 5px;
}
.container .product {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 5vw;
	/* justify-content: center; */
	margin-bottom: 30px;
}
.product-item {
	position: relative;
	height: 430px;
	width: 250px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
		1px 1px 2px rgba(0, 0, 0, 0.2) inset;
	transition: all 0.4s ease;
}
.product-item:hover {
	transform: scale(1.07, 1.07);
}
.product-img {
	padding: 6px;
}
.product-item img {
	width: 100%;
}
.product-name,
.produc-price {
	text-align: center;
	/* text-decoration: none; */
	padding: 12px;
	font-weight: 900;
}
.discount {
	color: #ed1c1c;
}
.product-item .product-name a {
	text-decoration: none;
	font-weight: 900;
}
.add,
.footer > .container {
	text-align: center;
	margin-top: 12px;
}
.add > a {
	position: absolute;
	bottom: 0;
	width: 100%;

	display: block;
	padding: 20px 0;

	font-weight: 900;
	background: #333;
	color: white;
	border-radius: 0 0 5px 5px;
}
.add > a:hover {
	border: none;
	background: rgb(102, 101, 101);
	cursor: pointer;
}
.mac-title,
.iphone-title,
.ipad-title{
    margin-bottom: 30px;
    font-weight: 900;
}
.footer > .container {
	color: white;
	padding: 12px 0px;
	font-weight: 900;
}
.footer {
	background: #333;
}

/* input[id="cb1"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #bcbcbc;
    border-radius: 2px;
    cursor: pointer;
  }
  input[id="cb1"]:checked + label:after {
    position: relative;
    top: -4px;
    left: 2px;
    content: '\2714';
    font-size: 14px;
  }
  input[id="cb1"] {
    display: none;
  } */

.close-icon{
    margin: 10px 20px;
    transition: all 0.2s linear;
}
/* cart */
.cart-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(102, 101, 101);
}
.header__cart-heading,.close{
    margin: 10px;
    color: black;
    font-weight: 800;
    font-size: 1.4rem;
}  
.header__cart-heading{
    margin: auto;
    flex-basis: 40%;
}

/* Start Cart */
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
}

.header__cart .header__cart-icon{
    cursor: pointer;
    font-size: 20px;
}

/*  */
.header__cart-list{
    z-index: 1;
    position: fixed;
    display: none;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    border: 5px solid #a8a9ac;
    border-radius: 20px;
    flex-flow: column;
    justify-content: space-between;
}
/* Show cart */
.cart-open{
    display: flex;
}


.header__cart-list-item{
    padding: 0px 10px;
    height: 80vh;
    overflow: auto;

}
.header__cart-item{
    display: flex;
    margin-top: 10px;
    align-items:flex-start;
    
}



.header__cart-img{
    width: 15%;
    border-radius: 2px;
    align-self: center;
}

.header__cart-name{
    margin: 0px 15px;
    font-size: 1rem;
    font-weight: 600;
    top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
    text-align: initial;
    align-self: stretch;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    align-content: flex-start;
}
.cart-price{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 0 0 10px;
}
.cart-title{
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: center;
    font-size: clamp(1.1rem, 1vw + 1.1rem, 2.5rem);
}
/* total cart */
.header__total{
    padding: 20px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top:2px solid rgb(102, 101, 101);
}
.header__cart-del{
   margin: auto;
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
   transition: all 0.5s linear;
}
.close-icon:hover{
    opacity: 0.5;
}

.header__cart-del:hover{
    background-color: #ff623d;
}

.header__cart-money{
    font-size: 1.2rem;
    font-weight: bold;
}
.header__cart-btn:hover{
    opacity: 0.8;
}
.header__cart-delete{
    margin-top: 16px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    color: black;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}
.header__cart-btn{
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ff623d;
    transition: opacity 0.2s ease;
    font-weight: bold;
    color: white;
}
/* End Cart */


/* button toast */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 100;
}
.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: solid 4px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    max-width: 600px;
    z-index: 100;
    transition: all linear 0.3s;
}
@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
.toast + .toast {
    margin-top: 16px;
}
.toast__icon {
    font-size: 24px;
}
.toast__icon,
.toast__close {
    padding: 0 16px;
}
.toast__body {
    flex-grow: 1;
}
.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__msg {
    margin-top: 4px;
    color: #888;
    line-height: 1.5;
}
.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s linear;
    cursor: pointer;
}
.toast__close:hover {
    color: rgba(0, 0, 0, 0.2);
}
/* success */
.toast--success {
    border-color: #47d864;
}
.toast--success .toast__icon {
    color: #47d864;
}
.btn--success{
    background-color: #71be34;
}
.box-button{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 50px;
}