


/* PC: width >= 1024px */ 
@media only screen and (min-width:1024px){
 
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width:740px) and (max-width:1023px){

}

/* Mobile: width < 740px */
@media only screen and (max-width:739px){
  .header__cart-list-item {
    padding: 0px 10px;
    height: 80vh;
    overflow: auto;
}
  .header__cart-list {
    top: 15%;
    bottom: 15%;
  }
  /* .sidebar {
    position: absolute;
    left: -200px;
  } */
  .wr-content {
    display: block;
    
    position: relative;
  }
  #logo {
    margin: auto;
    padding-left: 10px;
}
  .menu{
    display: none;
  }
  .sb-menu{
    display: flex;
    flex-flow: row wrap;
  }
  #logo, .sidebar {
    width: 100%;
    margin: 5px;
  }
  /* .mac-title, .iphone-title, .ipad-title {
    margin: 0 auto;
} */
.wr-content .container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
  .wr-content .sb-menu{
    padding: 0 10px;
    margin: 0 10px;
  }
  .sidebar{
    border-bottom: 1px solid #a8a9ac;
    margin-bottom: 30px;
  }
}